apiVersion: apps/v1
kind: Deployment
metadata:
  name: authdep
  labels:
    app: auth
    env: dev
spec:
  replicas: 2
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
        env: dev
    spec:
      containers:
        - name: auth
          image: rakesh556575/auth:vers2
          imagePullPolicy: Always
          ports:
            - name:  http
              containerPort: 3000
              protocol: TCP